
#contenidoBuscar {
    /*    padding-top: 20%;*/
/*    width: 1200px;*/
/*    height: 768px;*/
    margin-left: 5.5%;
    margin-right:5.5%;
    border: 1px solid #04B45F;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    /*background: #EBF5FB;*/
}
